################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.history
/.vs
/.vscode
/bin/Debug
/lib/Debug
/_Base
/CMakeFiles
/cmake/Platform/Core
/cmake/Platform/Extras
/cmake/Platform/Generation
/cmake/Platform/Initialization
