language: cpp

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
        
    - os: linux
      dist: trusty
      sudo: required
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-5.0
          packages:
            - clang-5.0
      env:
        - MATRIX_EVAL="CC=clang-5.0 && CXX=clang++-5.0"
        
    - os: osx
      osx_image: xcode9.2
      env:
        - MATRIX_EVAL="rm -rdf '/usr/local/include/c++' && brew install gcc && CC=gcc-7 && CXX=g++-7"
        
    - os: osx
      osx_image: xcode9.3beta
      env:
        #- MATRIX_EVAL="rm -rdf '/usr/local/include/c++' && brew install gcc5 && CC=gcc-5 && CXX=g++-5"
        - MATRIX_EVAL=""
        
 
before_install:
    - eval "${MATRIX_EVAL}"

script:
  - cmake .
  - cmake --build .
  # run Gtest
  - ./bin/Ark-Cpp-tests
  
after_success:
  #- coveralls --root . -E ".*gtest.*" -E ".*CMakeFiles.*"
  
