version: 0.0.{build}

image: Visual Studio 2017

environment:

  matrix:
  - CONFIGURATION: Debug
  - CONFIGURATION: Release
  
build_script:
- cmd: >-
    cmake -G "Visual Studio 15 2017"

    cmake --build . --config %CONFIGURATION%
    
test_script:
- cmd: '%APPVEYOR_BUILD_FOLDER%\Bin\%CONFIGURATION%\Ark-Cpp-tests.exe'
